{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>

<p><a href="{% url 'add_album' %}">Add Album</a></p>

<div class="flex flex-wrap">
{% for album in albums %}
{% if album.title %}
<div class="">
    <h2>{{ album.title }}</h2>
    {% endif %}

    {% if album.artist %}
    <div class="flex">
    <div class=""><i class=""></i></div>
    <div>By: {{ album.artist }}</div>
    </div>
    {% endif %}

    {% if album.year_released %}
    <div class="flex">
    <div class=""><i class=""></i></div>
    <div>Released: {{ album.year_released }}</div>
    </div>
    {% endif %}

    <p>
    <a href="">View Album</a><br> 
    <a href="">Edit Album</a><br>    
    <a class="red" href="">Delete Album</a>
    </p>
</div>
{% endfor %}
</div>  
{% endblock %}
