{% extends "base.html" %}

{% block content %}
<section class="hero is-primary p-5">
<h1 class="title is-white">Album Info</h1>
<p class="subtitle is-white"><a href="{% url 'list_albums' %}">Return to List of Albums</a></p>
</section>

<div class="flex flex-wrap">
    <div class="container pt-5">
        <div class="columns">
            <div class="column center is-three-quarters-mobile is-two-thirds-tablet is-one-third-desktop">
                {% if album.title %}
                <div class="card">
                    <h2 class="title is-4 is-primary card-header p-3">{{ album.title }}</h2>
                    {% endif %}
                
                    {% if album.artist %}
                    <div class="card-content">
                        <div class="content">
                            <div>By: {{ album.artist }}</div>
                        </div>
                    {% endif %}
                
                    {% if album.year_released %}
                    <div class="content">Released: {{ album.year_released }}</div>
                    {% endif %}
                    </div>
                </div>                  
                <footer class="card-footer">
                    <a href="{% url 'edit_album' pk=album.pk %}" class="card-footer-item">Edit Album</a><br>    
                    <a href="{% url 'delete_album' pk=album.pk %}"  class="card-footer-item">Delete Album</a>
                </footer>
            </div>
        </div>
    </div>
</div> 
</div>
{% endblock %}
</div>
